.crud{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 15px 20px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.submit {
    background-color: #009879; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 30px
  }
  .update {
    background-color: #00065c; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px
  }
  .button1 {padding: 10px 30px;}

  .buttonedit {
    background-color: #0e7245; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .buttonedit {padding: 5px 30px;}
  .buttondelete {
    background-color: #df1b1b; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .buttondelete {padding: 5px 30px;}

  input[type=text] {
    width: 45%;
    padding: 7px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #009879;
  }

  input[type=number] {
    width: 45%;
    padding: 7px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #009879;
  }
  input[type=text]:focus {
    border: 2px solid #06f26c;
  }